<!DOCTYPE html>
<html>
  <head>
    <title>Alice conta 2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <!-- Chrome, Firefox OS and Opera --> <meta name="theme-color" content="#e6faff"> <!-- Windows Phone --> <meta name="msapplication-navbutton-color" content="#e6faff"> <!-- iOS Safari --> <meta name="apple-mobile-web-app-status-bar-style" content="#e6faff">

    <meta property="og:site_name" content="Convite">
    <meta property="og:title" content="Alice conta 2. Convite <%= 'para ' << @name unless @name.nil? %>" />
    <meta property="og:description" content="Clique para mais informações." />
    <meta property="og:image" itemprop="image" content="https://convite-alice.herokuapp.com/thumbnail_300x200.png">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1432930" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="🎂" />

    <link rel="icon" type="image/ico" href="favicon.ico" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <% if Rails.env.production? %>

  <!-- Etiqueta global do site (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124238471-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124238471-1');
    </script>
  <% end %>
</html>
